@font-face { 
    src: url('../fonts/cakra/Cakra-Normal.woff2') format("woff2"),
         url('../fonts/cakra/Cakra-Normal.woff') format("woff"),
         url('../fonts/cakra/Cakra-Normal.ttf') format("ttf");
    font-family: Cakra;
    font-weight: Normal;
}  
  
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 25px;
    color: black; 
}

input[type=date]::-webkit-calendar-picker-indicator {
    /* opacity: 0; */
    background: none;
}

input[type=time]::-webkit-calendar-picker-indicator {
    /* opacity: 0; */
    background: none;
}

/*------ СТАРТ ФОРМА КОЛЛБЭК ОБЩИЕ СВОЙСТВА -----*/

    .form-callback {
        display: flex;
    }

    .wr-form-inputs {
        display: flex;
    }

    .callback-form-inputs {
        height: 51px;
        padding: 0 16px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #383838;

        border: 1px solid #BFBFBF;
        border-radius: 10px;
    }

    .callback-form-button {
        height: 51px;

        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;

        background: #9BD0C0;
        border: 1px solid #234C60;
        box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        cursor: pointer;
    }

    .callback-form-button:active {
        box-shadow: none;
    }

/*------ КОНЕЦ ФОРМА КОЛЛБЭК ОБЩИЕ СВОЙСТВА -----*/


/*------ СТАРТ ОБЩИЕ СВОЙСТВА ЛОГО -----*/

    .logo {
        height: 47px;
    }

    .link-logo {
        display: inline-block;
        height: 100%;
        width: 100%;

        background: no-repeat url(../svg/logo.svg);
        background-position: left 29% center;
    }

/*------ КОНЕЦ ОБЩИЕ СВОЙСТВА ЛОГО -----*/


/*------ СТАРТ ОБЩИЕ СВОЙСТВА КОНТАКТЫ -----*/
.contacts {
    display: flex;
}

.contacts-tel {
    min-width: 190px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.contacts-social-icons {
    display: flex;
}

.contacts-wr-viber {
    height: 50px;
}

.contacts-viber-link {
    display: inline-block;
    height: 100%;
    width: 100%;

    background: no-repeat url(../svg/icon-viber.svg);
    background-position: center right;
}

.contacts-wr-whatsapp {
    height: 50px;
}

.contacts-whatsapp-link {
    display: inline-block;
    height: 100%;
    width: 100%;

    background: no-repeat url(../svg/icon-whatsapp.svg);
    background-position: center right;
}

.icon-telefone {
    display: none;
    width: 30px;
    height: 30px;

    background: no-repeat url(../svg/icon-telefone.svg);
    background-position: center;
    background-size: 27px;

    cursor: pointer;
}
/*------ КОНЕЦ ОБЩИЕ СВОЙСТВА КОНТАКТЫ -----*/






/* ------------------------------------------- НАЧАЛО ХЕДЕР ---------------------------------------------- */
.wr-all {
    max-width: 1728px;

    margin: 0 auto;
}

.header {
    display: flex;
    padding: 8px 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;

    background-color: #3B7A67;
    color: #ffffff;
    border-bottom: 3px solid #234C60;

    align-items: center;
}

.header__icon-mobile_open {
    background: no-repeat url(../svg/icon-menu-mobile.svg);
}

.header__icon-mobile_close {
    background: no-repeat url(../svg/icon-menu-mobile-close.svg);
}

.header__icon-mobile {
    display: none;
    height: 30px;
    width: 30px;

    background-position: center;
    background-size: 30px;

    cursor: pointer;
}

.header__wr-logo {
    width: 32.2%;
}

.header__logo {
    height: 53px;
}

.header__logo-text {
    display: none;
}

.header__nav {
    min-width: 519px;
    width: 32.5%;
}

.header__menu-list {
    display: flex;

    justify-content: space-between;
}

.header__menu-link { 
    color: #ffffff;
}

.header__contacts {
    width: 35%;

    align-items: center;
}

.header__tel {
    width: 30%;
    margin-left: 57px;
}

.header__social-icons {
    width: 57%;
}

.header__wr-viber {
    width: 40%;
}

.header__wr-whatsapp {
    width: 23%;
}

/* ------------------------------------------- КОНЕЦ ХЕДЕР ---------------------------------------------- */

/* ------------------------------------------- НАЧАЛО ВЕРХНЯЯ ФОРМА ---------------------------------------------- */

main {
    position: relative;
    overflow: hidden;
}

.popular {
    position: relative;

    padding: 87px 0 195px 152px;

    background-color: #FAE4B1;
    background-image: url(../img/lastochka.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.popular__wr-mobile-menu-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    background-color: rgba(0, 0, 0, 0.50);

    z-index: 1;
}

.popular__wr-mobile-menu {
    position: absolute; 
    left: -300px;

    height: 738px;
    width: 300px;

    background: linear-gradient(180deg, #926829 0%, #E5CFAD 100%);

    transition: left 2s;
}

.popular__wr-mobile-menu_show {
    left: 0;
}

.popular__mobile-menu {
    padding-top: 44px;
    margin-left: 32px;
}

.popular__menu-mobile-list {
    display: flex;

    flex-direction: column;
    gap: 30px;
}

.popular__menu-mobile-link {
    font-family: Roboto, Sans-serif;
    font-weight: 400;
    font-size: 24px;

    color: #ffffff;
}

.popular__mobile-menu-contacts {
    margin: 30px 0 0 32px;
}

.popular__mobile-menu-tel {
    font-family: Roboto, Sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;

    color: #ffffff;
}

.popular__wr-mobile-menu-social {
    display: flex;
    margin-top: 40px;

    gap: 40px;
}

.popular__wr-mobile-menu-viber,
 .popular__wr-mobile-menu-whatsapp {
    width: 50px;
    height: 50px;

    background-size: 50px;
    background-position: center;

    cursor: pointer;
 }

.popular__wr-mobile-menu-viber {
    background: no-repeat url(../svg/icon-viber.svg);
}

.popular__wr-mobile-menu-whatsapp {
    background: no-repeat url(../svg/icon-whatsapp.svg);
}

.popular__mobile-menu-social {
    display: inline-block;
    width: 100%;
    height: 100%;
}



.popular__form {
    width: 343px;
}

.popular__wr-form-shadow {
    border-radius: 10px;
}

.popular__header {
    padding: 25px 0 19px;

    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, 0.45);
}

.popular__title {
    font-family: Cakra, sans-serif;
    font-size: 22px;
    font-weight: Normal;
    text-align: center;
    color: #ffffff;
}



.popular__direction {
    display: flex;
    padding-right: 20px;

    background: rgba(0, 0, 0, 0.45);
    justify-content: flex-end;
    gap: 4px;
}

.popular__button-to-sea,
 .popular__separator,
  .popular__button-back {
    color: #ffffff;
}

.popular__button-to-sea,
 .popular__button-back {
    font-family: Roboto, Sans-serif;
    font-weight: 400;
    font-size: 16px;

    opacity: 0.7;
    cursor: pointer;
}

.popular__direction_active {
    opacity: 1;
}


.popular__wr-data {
    padding: 13px 27px 0 27px;

    background: rgba(0, 0, 0, 0.45);
    border-radius: 0 0 10px 10px;
    color: #ffffff;
}

.popular__wr-selects {
    margin-top: 13px;
}

.popular__label {
    font-family: Roboto, Sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.popular__select {
    width: 100%;
    height: 50px;
    margin-top: 8px;
    padding-left: 5px;

    font-family: Roboto, Sans-serif;
    font-weight: 400;
    font-size: 16px;

    background-image: url(../svg/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: top 49% right 3%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #9BD0C0;
    border-radius: 10px;

    cursor: pointer;
    appearance: none;
}

.popular__wr-direction_tosea,
 .popular__wr-direction_toback {
    display: none;
 }


.popular__select-direction_active {
    display: block;
}

.popular__wr-choose-chair {
    margin-top: 8px;
}

.popular__choose-chair {
    width: 100%;
    height: 53px;
    padding-left: 5px;

    font-family: Roboto, Sans-serif;
    font-weight: 400;
    font-size: 16px;

    background-image: url(../svg/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: top 49% right 3%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #9BD0C0;
    border-radius: 10px;

    cursor: pointer;
}



.popular__wr-meet-with-sign {
    padding-top: 11px;
}

.popular__label-meet-with-sign {
    font-family: Roboto, Sans-serif;
    font-weight: 400;
    font-size: 14px;

    cursor: pointer;
}

.popular__label-meet-with-sign::before {
    content: '';

    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;

    border: 1px solid #9BD0C0;
    background-color: #ffffff;

    vertical-align: -2px;
    cursor: pointer;
}

.popular__meet-with-sign {
    display: none;
}

.popular__meet-with-sign:checked + .popular__label-meet-with-sign::before{
    background-color: #9BD0C0;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.popular__show-price {
    display: flex;
    justify-content: center;

    width: 100%;
    padding-bottom: 5px;
}

.popular__price {
    height: 40px;
    width: 50%;

    font-family: Cakra, sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #ffffff;

    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}


.popular__wr-button-submit {
    margin-top: 28px;
}

.popular__button-submit {
    display: flex;
    height: 55px;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;

    background-color: #9BD0C0;
    border: 1px solid #234C60;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;

    justify-content: center;
    align-items: center;
}

.popular__button-submit:active {
    box-shadow: none;
}

.active {
    display: block;
}

/* Всплывающая форма для выбора кресла */

.popular__wr-modal-type-chair {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
}

.wr-type-chair_active {
    display: block;
}

.popular__close {
    position: absolute;
    top: -20px;
    right: 10px;

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 15px;


    align-self: flex-end;
    cursor: pointer;
}

.popular__type-chair-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 347px;
    width: 345px;
    padding: 44px 32px 0 34px;

    font-family: 'Roboto', sans-serif;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 20px;
}

.type-chair-item_last {
    padding-top: 9px;
}

.popular__label-type-chair {
    display: flex;
    width: 100%;

    font-size: 20px;
    font-weight: 400;

    justify-content: space-between;
    cursor: pointer;
}

.popular__label-type-chair::after {
    content: '';

    display: inline-block;
    width: 25px;
    height: 25px;

    background: #DFDFDF;
    border: 1px solid #9BD0C0;
    border-radius: 50%;
}

.popular__radio-chair:checked + .popular__label-type-chair::after {
    background: #234C60;
    border: 1px solid #828282;
}

.popular__radio-chair {
    display: none;
}

.popular__child-max-wight {
    display: block;
    font-size: 16px;
    font-weight: 300;
}

/* Всплывающая форма для выбора кресла */

/* ------------------------------------------- КОНЕЦ ВЕРХНЯЯ ФОРМА ---------------------------------------------- */
    

/* ------------------------------------------- СТАРТ КАРТА И ФОРМА ЗАКАЗА ------------------------------------------- */

.wr-price-order {
    position: relative;

    display: flex;
    padding-top: 35px;
    padding-bottom: 121px;

    background-color: #FAE4B1;
}

.wr-price-order__price { 
    width: 79.5%;
    padding-left: 151px;
}


    /* Общие свойства элементов форм label input select */
        .wr-price-order__title {
            min-width: 630px;
        
            font-family: Cakra, sans-serif;
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
        
            color: #234C60;
        }

        .wr-price-order__labels {
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 400;
        }

        .wr-price-order__look-inputs,
        .wr-price-order__car-class-list,
        .wr-price-order__amount-chair {
            padding: 10px 16px 10px 16px;

            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 400;

            background: rgba(255, 255, 255, 0.8);
            border: 1px solid #3B7A67;
            border-radius: 10px;
        }
    /* ------------------------------------------ */


/* --- КАРТА --- */
#map {
    height: 532px;
    width: 93.8%;
    
    border: 1px solid #3B7A67;
    border-radius: 10px;

    overflow: hidden;
}

.ymaps-2-1-79-controls__control_toolbar {
    width: 100%;
}

.ymaps-2-1-79-control-popup__content {
    border-radius: 6px;
    border: 1px solid #9BD0C0;
    width: 100%;
}

.ymaps-2-1-79-control-popup {
    border-radius: 6px;
    /* border: 1px solid #9BD0C0; */ 
}

.ymaps-2-1-79-copyright__link {
    visibility: hidden;
}

/* --- END КАРТА--- */

.wr-price-order__form {
    margin-left: 63px;
}

.wr-price-order__name-fonnumber {
    display: flex;

    flex-wrap: wrap;
    align-items: flex-end;
}

.wr-price-order__wr-name,
.wr-price-order__wr-tel {
    min-width: 332px;
    width: 43.3%;
}

.wr-price-order__name {
    height: 50px;
    width: 96%;
    margin-top: 2px;
}
.wr-price-order__tel {
    height: 50px;
    width: 83.7%;
    margin-top: 5px;
}



.wr-price-order__wr-data-of-transport {
    display: flex;

    min-width: 585px;
    width: 98%;
    margin-top: 28px;

    align-items: flex-end;
}

.wr-price-order__wr-date-arrive,
.wr-price-order__wr-time-arrive,
.wr-price-order__wr-number-flight,
.wr-price-order__wr-number-wagon {
    width: 20.5%;
}

.wr-price-order__date-arrive,
.wr-price-order__time-arrive,
.wr-price-order__number-flight,
.wr-price-order__number-wagon {
    height: 50px;
    width: 92.6%;
    margin-top: 5px;
}

.wr-price-order__date-arrive,
 .wr-price-order__time-arrive {
    cursor: pointer;
 }

.wr-price-order__arrow-mobile {
    display: none;
}

.wr-price-order__wr-car-class {
    width: 35.5%;
    margin-top: 20px;
}

.wr-price-order__car-class-list {
    height: 50px;
    width: 100%;

    background-image: url(../svg/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: top 49% right 15px;

    appearance: none;
}



.wr-price-order__wr-chairs {
    display: flex;

    width: 49%;
    margin-top: 20px;
}

.wr-price-order__wr-type-chair {
    width: 75%;
}

.wr-price-order__type-chair {
    height: 50px;
    width: 96.1%;

    background-image: url(../svg/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: top 49% right 15px;

    cursor: pointer;
}

.wr-price-order__wr-amount-chair {
    width: 20%;
}

.wr-price-order__amount-chair {
    height: 50px;
    width: 86%;

    background-image: url(../svg/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: top 49% right 15px;

    appearance: none;
}



.wr-price-order__wr-meet {
    margin-top: 35px;
}

.wr-price-order__meet {
    display: none;
}

.wr-price-order__label-meet {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #383838;

    cursor: pointer;
}

.wr-price-order__label-meet::before {
    content: '';

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    box-sizing: border-box;

    border: 1px solid #CFA668;
    background: #ffffff;

    vertical-align: bottom;
    cursor: pointer;
}

.wr-price-order__meet:checked + .wr-price-order__label-meet::before {
    border: 4px solid #ffffff;
    background: #CFA668;
}



.wr-price-order__wr-button-submit {
    width: 41.5%;
    margin-top: 29px;
}

.wr-price-order__button-submit {
    height: 55px;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #9BD0C0;
    border: 1px solid #234C60;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    cursor: pointer;
}

.wr-price-order__button-submit:active {
    box-shadow: none;
}

/* ----------- Модальное окно результат отправки */

.wr-price-order__result-send {
    display: none;

    position: absolute;
    bottom: 87px;
    left: 631px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* ----------- Конец Модальное окно результат отправки */

/* ----------- Модальное окно форма выбора кресла */

.wr-price-order__wr-modal-type-chair {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    padding: 15px;

    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #CFA668;

    z-index: 20;
}

.wr-modal-type-chair-order_active {
    display: block;
}

.wr-price-order__close {
    display: block;
    width: 100%;
    margin-bottom: 14px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: right;
    
    cursor: pointer;
}

.wr-price-order__type-chair-list {
    display: flex;
    margin-top: 10px;

    flex-direction: column;
    gap: 7px;
}

.wr-price-order__type-chair-item {
    display: flex;

    flex-direction: column;
}

.wr-price-order__radio-chair {
    display: none;
}

.wr-price-order__label-type-chair {
    display: flex;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;

    justify-content: space-between;

    cursor: pointer;
}

.wr-price-order__label-type-chair::after {
    content: "";

    display: inline-block;
    box-sizing: border-box;
    height: 25px;
    width: 25px;

    background: #DFDFDF;
    border: 1px solid #9BD0C0;
    border-radius: 50%;

    cursor: pointer;
}

.wr-price-order__radio-chair:checked + .wr-price-order__label-type-chair::after {
    background-color: #234C60;
}

.wr-price-order__child-max-wight {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;

    color: #383838;
}

/* ------------------------------------------- КОНЕЦ КАРТА И ФОРМА ЗАКАЗА ------------------------------------------- */

/* ------------------------------------------- СТАРТ АВТОМОБИЛИ КОЛЛБЭК ------------------------------------------- */

.callback {
    position: relative;

    padding-bottom: 138px;

    background-color: #FAE4B1;
    background-image: url(../img/callback.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.callback__wrapper-swiper {
    display: none;
}

.callback__car-class-list {
    display: flex;
    max-width: 1602px;
    margin: 0 auto;

    justify-content: flex-start;
    gap: 4.3vw;

}

.callback__car-class-card {
    display: flex;
    height: 25.63vw;
    margin-top: -3.25vw;


    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25);
    /* background-repeat: no-repeat;
    background-position: center top; */

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.callback__wr-img {
    height: 296px;
    margin-top: 57px;

    overflow: hidden;
}

.callback__img {
    display: inline-block;
    width: 17.344vw;
}

.callback__wr-card-text {
    display: flex;
    height: 8.595vw;
    /* height: 156px; */
    margin-bottom: -19px;

    font-family: Cakra, sans-serif;
    font-weight: 400;
    color: #ffffff;

    background: linear-gradient(180deg, #926829, #E5CFAD);
    border: 5px solid #9BD0C0;
    box-shadow: -4px -4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;

    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 5px;
}

.callback__wr-card-text-aveo {
    width: 14.12vw;
}

.callback__wr-card-text-octavia {
    width: 14.12vw;
}

.callback__wr-card-text-e {
    width: 14.12vw;
}

.callback__wr-card-text-viano {
    width: 14.12vw;
}

.callback__card-text-class {
    font-size: 1.88vw;
}

.callback__card-text-car {
    font-size: 1.25vw;
}



.callback__wr-collback-form {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.wr-collback-form {
margin-top: 106px;
}

.callback-title {
    margin-left: 53px;

    font-family: Cakra, sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    color: #9BD0C0;
}

.callback__form {
    width: 65.3%;

    justify-content: space-between;
}


.callback__wr-form-inputs {
    width: 62.7%;
    margin-left: 18px;

    justify-content: space-between;
}

.callback__form-name {
    width: 49%;
}

.callback__form-tel {
    width: 47.2%;
}

.callback__wr-form-button {
    width: 26.9%;
}

.callback__form-button {
    width: 100%;
}

/* ------------------------------------------- КОНЕЦ АВТОМОБИЛИ КОЛЛБЭК ------------------------------------------- */


/* ------------------------------------------- СТАРТ СЕРВИСЫ ------------------------------------------- */


.services {
    display: flex;
    padding-top: 38px;
    padding-bottom: 49px;
    
    background-color: #FAE4B1;

    flex-direction: column;
    align-items: center;
    gap: 74px;
}

.services__cards {
    display: flex;
    margin-left: 31px;

    flex-wrap: wrap;
    gap: 137px;
}

.services__card {
    display: flex;
}

.services__card-icon {
    width: 150px;
}

.services__card-icon_meet {
    background: no-repeat url(../svg/meet.svg);
    background-position: bottom center;
}

.services__card-icon_luggage {
    background: no-repeat url(../svg/help_luggage.svg);
    background-position: bottom center;
}

.services__card-icon_rent {
    background: no-repeat url(../svg/rent.svg);
    background-position: bottom -20px center;
}

.services__card-icon_excursions {
    background: no-repeat url(../svg/excursions.svg);
    background-position: bottom -13px center;
}

.services__card-title {
    font-family: 'Cakra', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #234C60;
}

.services__text-title {
    display: block;
}

.services__wr-card-text {
    width: 375px;
    margin-left: 28px;
}

.services__card-title_second-card {
    margin-top: 30px;
}

.services__card-text {
    margin-top: 12px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #234C60;
}

/* ------------------------------------------- КОНЕЦ СЕРВИСЫ ------------------------------------------- */



/* ------------------------------------------- СТАРТ О НАС ------------------------------------------- */

.about-us {
    padding-top: 87px;
    padding-bottom: 66px;

    background-color: #FAE4B1;
    background-image: url(../img/back-about-us.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.about-us__wr-title-bear {
    display: flex;
    width: 84%;
    margin: 0 auto;
}

.about-us__wr-img-title {
    display: flex;
    width: 49.2%;

    flex-direction: column;
}

.about-us__title {
    font-family: 'Cakra', sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    color: #234C60;
}

.about-us__cards {
    display: flex;
    margin-top: 28px;
    margin-bottom: -6px;

    flex-grow: 1;
    gap: 23px;
}

.about-us__card {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.about-us__card_safely, .about-us__card_easy {
    align-self: flex-end;
}

.about-us__icon {
    height: 8vw;
    width: 8vw;
}

.about-us__icon_safely {
    background: no-repeat url(../svg/convenient_with_us.svg);
    background-position: center;
    background-size: 100%;
}

.about-us__icon_park {
    background: no-repeat url(../svg/new_car_park.svg);
    background-position: center;
    background-size: 100%;
}

.about-us__icon_easy {
    background: no-repeat url(../svg/easy_with_us.svg);
    background-position: center;
    background-size: 100%;
}

.about-us__wr-card-text {
    display: flex;
    padding: 1.98vw 0 1.48vw;

    background: linear-gradient(180deg, #926829, #E5CFAD);
    border: 5px solid #9BD0C0;
    box-shadow: -4px -4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;

    flex-direction: column;
    align-items: center;
}

.about-us__wr-card-text_safely {
    width: 10.1vw;
}

.about-us__wr-card-text_park {
    width: 11.2vw;
}

.about-us__wr-card-text_easy {
    width: 11.5vw;
}

.about-us__card-text {
    font-family: 'Cakra';
    font-weight: 400;
    font-size: 1.05vw;
    text-transform: uppercase;
    color: #ffffff;
}


.about-us__wr-img {
    height: 521px;
    width: 49.5%; 
    margin-top: -40px;

    border: 1px solid #3B7A67;
    border-radius: 10px;
    background: no-repeat url(../img/bear_mountain.png);
    background-position: center;
    background-size: cover;
}

.about-us__wr-text {
    margin-top: 50px;
    padding: 0 151px;
}

.about-us__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.05vw;

    color: #234C60;
}
/* ------------------------------------------- КОНЕЦ О НАС ------------------------------------------- */


/* ------------------------------------------- СТАРТ ШАШКИ ------------------------------------------- */

.wr-checkers__checkers {
    display: flex;
    margin-top: 1px;

    flex-direction: column;
    gap: 33px;
}

.wr-checkers_left {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    height: 100%;

    justify-content: space-between;
}

.wr-checkers_right {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    height: 100%;

    justify-content: space-between;
}

.wr-checkers__checkers-item {
    width: 87px;
    height: 154px;
    /* margin-bottom: 30.8px; */

    background-image: url(../svg/checkers.svg);
    background-repeat: no-repeat;
}

.wr-checkers__checkers_left {
    background-position: right top;
}

.wr-checkers__checkers_right {
    background-position: left top;
}

/* ------------------------------------------- КОНЕЦ ШАШКИ ------------------------------------------- */




/* ------------------------------------------- СТАРТ FOOTER ------------------------------------------- */

.footer {
    display: flex;
    padding-top: 27px;
    padding-bottom: 60px;

    background-color: #3B7A67;
    border-top: 3px solid #234C60;

    justify-content: center;
}

.footer__wr-logo-nav {
    margin-left: 27px;
}

.footer__wr-logo {
    height: 113px;
    width: 75%;
    margin-top: -10px;
}

.footer__logo {
    background-size: 210px 113px;
}

.footer__nav {
    margin-top: 7px;
}

.footer__nav-list {
    display: flex;
    margin-top: 17px;

    flex-direction: column;
    gap: 13px;
}

.footer__nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.footer__wr-callback {
    display: flex;
    padding-top: 8px;

    flex-grow: 0.7;
    flex-direction: column;
    align-items: center;
}

.footer__header {
    margin-left: 98px;
}

.footer__title {
    font-family: Cakra, sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    color: #9BD0C0;
}

.footer__form {
    width: 93.8%;
    margin-top: 23px;

    justify-content: flex-end;
}

.footer__wr-form-inputs {
    width: 67.3%;
}

.footer__form-name {
    width: 44%;
}

.footer__form-tel {
    width: 42.2%;
    margin-left: 28px;
}

.footer__wr-form-button {
    width: 28%;
    padding-left: 27px;
}

.footer__form-button {
    width: 100%;
}

.footer__contacts {
    margin-top: 39px;
    margin-right: 36px;

    align-self: flex-end;
}

.footer__tel {
    margin-right: 36px;

    align-self: center;
}

.footer__social-icons {
    width: 145px;

    gap: 41px;
}

.footer__wr-viber, 
.footer__wr-whatsapp {
    width: 50px;
}

/* ------------------------------------------- КОНЕЦ FOOTER ------------------------------------------- */

@media(min-width: 430px) {
    .wr-price-order__date-arrive {
        appearance: none;
        background-image: url(../svg/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: top 49% right 13px;
    }
    
    .wr-price-order__time-arrive {
        appearance: none;
        background-image: url(../svg/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: top 49% right 13px;
    }
}

/* 360 768 1080 1179 1290   */
/* --------- @@@@@@ MEDIA @@@@@@@ ------------- */

/* -------- CHECKERS */

@media (max-width: 1570px) {
    .wr-checkers_left,
     .wr-checkers_right {
        display: none;
    }
}


/* ===============------------ MEDIA 1366 -------------=============== */

/* ------- HEADER */


@media (max-width: 1366px) {
    .header__wr-logo {
        width: 27.2%;
    }
}

@media (max-width: 1366px) {
    .header__wr-whatsapp {
        width: 32%;
    }
}



/* ------- ФОРМА ЗАКАЗА */

@media (max-width: 1366px) {
    .wr-price-order__price {
        padding-left: 44px;
    }
}

@media (max-width: 1366px) {
    .wr-price-order__form {
        margin-left: 24px;
    }
}

@media (max-width: 1366px) {
    .wr-price-order__wr-name,
    .wr-price-order__wr-tel {
        min-width: 315px;
        width: 43.3%;
    }
}

@media (max-width: 1366px) {
    .wr-price-order__wr-data-of-transport {
        width: 97%;
    }
}

@media (max-width: 1366px) {
    .wr-price-order__wr-date-arrive,
    .wr-price-order__wr-time-arrive,
    .wr-price-order__wr-number-flight,
    .wr-price-order__wr-number-wagon {
        width: 29.5%;
    }
}

@media (max-width: 1366px) {
    .wr-price-order__date-arrive,
    .wr-price-order__time-arrive,
    .wr-price-order__number-flight,
    .wr-price-order__number-wagon {
        width: 94.6%;
    } 

    }

@media (max-width: 1366px) {
    .wr-price-order__wr-button-submit {
        width: 59.5%;
    }
}




/* ------- CALLBACK */

@media (max-width:1895px) {
    .callback__car-class-list {
        justify-content: center;
    }
}



/* ===============------------  -------------=============== */


/* ===============------------ MEDIA 1290 -------------=============== */
/* ------------- FORM ORDER */

@media(max-width:1366px) {
    .wr-price-order__amount-chair {
        background-position: top 49% right 8px;
    }
}


/* ------------- ABOUT US */

@media (max-width: 1366px) {
    .about-us__wr-title-bear {
        width: 94%;
    }
}


@media (max-width: 1366px) {
    .about-us__wr-img-title {
        width: 46.2%;
        margin-left: 10px;
    }
}

@media (max-width: 1366px) {
    .about-us__wr-img {
        width: 51.5%;
        margin-left: 18px; 
    }
}


/* ===============------------  -------------=============== */


/* ===============------------ MEDIA 1290 -------------=============== */

/* ------- HEADER */

@media (max-width: 1290px) {
    .header__icon-mobile {
        display: block;
        margin-left: 42px;
    }
}

@media (max-width: 1290px) {
    .header__wr-logo {
        display: flex;
        width: auto;

        flex-grow: 1;
    }
}

@media (max-width: 1290px) {
    .header__logo {
        width: 153px;
        height: 100%;
    }
}

@media (max-width: 1290px) {
    .header__logo-text {
        display: flex;

        font-size: 17px;

        flex-direction: column;
        align-self: flex-end;
    }
}

@media (max-width: 1290px) {
    .header__nav {
        display: none;
    }
}

@media (max-width: 1290px) {
    .header__tel {
        width: 53%;
        margin-right: 10px;
    }
}

@media (max-width: 1290px) {
    .header__contacts {
        width: auto;
        margin-right: 18px;
    }
}

@media (max-width: 1290px) {
    .header__social-icons {
        width: auto;
    }
}

@media (max-width: 1290px) {
    .header__wr-viber {
        width: 37px;
        margin-right: 10px;
    }
}

@media (max-width: 1290px) {
    .contacts-viber-link {
        width: 37px;
        margin-right: 10px;

        background-size: 35px;
    }
}

@media (max-width: 1290px) {
    .header__wr-whatsapp {
        width: auto;
        margin-right: 10px;
    }
}

@media (max-width: 1290px) {
    .header__whatsapp-link {
        width: 37px;
    }
}

@media (max-width: 1290px) {
    .contacts-whatsapp-link {
        background-size: 35px;
    }
}



/* ------- ФОРМА ЗАКАЗА */

@media (max-width: 1290px) {
    .wr-price-order__price {
        width: 46%;
        padding-left: 47px;
    }
}

@media (max-width: 1290px) {
    #map {
        width: 100%;
    }
}

@media (max-width: 1290px) {
    .wr-price-order__title {
        font-size: 40px;
    }
}

@media (max-width: 1290px) {
    .wr-price-order__order {
        margin-left: 50px;
    }
}

@media (max-width: 1290px) {
    .wr-price-order__form {
        margin-left: 0;
    }
}

@media (max-width: 1290px) {
    .wr-price-order__name-fonnumber {
        width: 478px;
    }
}

@media (max-width:1290px) {
    .wr-price-order__wr-name {
        width: 76.3%;
    }
}

@media (max-width:1290px) {
    .wr-price-order__wr-tel {
        width: auto;
    }
}

@media (max-width:1290px) {
    .wr-price-order__tel {
        width: 95.7%;
    }
}

@media (max-width: 1290px) {
    .wr-price-order__wr-data-of-transport {
        width: 544px;
        min-width: 498px;

        flex-wrap: wrap;
    }
}

@media (max-width: 1290px) {
    .wr-price-order__wr-date-arrive,
    .wr-price-order__wr-time-arrive,
    .wr-price-order__wr-number-flight,
    .wr-price-order__wr-number-wagon {
        width: 49.5%;
    }
}



@media(max-width: 1290px) {
    .wr-price-order__label-type-chair {
        font-size: 18px;
    }

    .wr-price-order__child-max-wight {
        font-size: 12px;
    }
}

/* ------- SERVICES */

@media (max-width: 1290px) {
    .services__cards {
        margin-left: 0;

        gap: 29px;
    }
}




/* ------------- ABOUT US */
@media (max-width: 1290px) {
    .about-us {
        padding-bottom: 29px;
    }
}




@media(max-width: 1290px) {
    .about-us__cards {
        gap: 5px;
    }
}

@media(max-width: 1290px) {
    .about-us__icon {
        height: 130px;
        width: 130px;
    }
}

@media(max-width: 1290px) {
    .about-us__wr-card-text_safely {
        width: 181px;
    }
}

@media(max-width: 1290px) {
    .about-us__wr-card-text_park {
        width: 173px;
    }
}

@media(max-width: 1290px) {
    .about-us__wr-card-text_easy {
        width: 181px;
    }
}

@media(max-width: 1290px) {
    .about-us__wr-card-text {
        padding: 26px 0 22px;
    }
}

@media(max-width: 1290px) {
    .about-us__card-text {
        font-size: 18px;
    }
}

@media (max-width: 1290px) {
    .about-us__wr-text {
        padding: 0 50px;
    }
}

@media (max-width: 1290px) {
    .about-us__text {
        font-size: 19px;
    }
}



/* ------------- FOOTER */

@media (max-width: 1290px) {
    .footer__contacts {
        margin-right: 0;
    }
}

@media(max-width: 1290px) {
    .footer__social-icons {
        gap: 0;
    }
}

/* ===============------------  -------------=============== */


/* ------------------------- media 1080 ------------------------------------ */

@media (max-width: 1080px) {
    .header__tel {
        display: none;
    }
}

@media (max-width: 1080px) {
    .header__icon-telefone {
        display: block;
    }
}

/* ===============------------  -------------=============== */



/* ------------------------- media 430 ------------------------------------ */

/* HEADER */
@media(max-width: 430px) {
    .header {
        padding: 0;
    }
}

@media(max-width: 430px) {
    .header__icon-mobile {
        height: 30px;
        width: 30px;
        margin-left: 20px;

        /* background-size: 30px; */
    }
}


@media(max-width: 430px) {
    .header__logo {
        width: 75px;
        height: 100%;
        margin-left: 10px;
    }

    .link-logo {
        background-size: 58px auto;
    }
}

@media(max-width: 430px) {
    .header__logo-text {
        margin-bottom: 6px;
        margin-left: 5px;

        font-size: 13px;

        align-self: flex-end;
    }
}

@media(max-width: 430px) {
    .contacts-viber-link {
        background-size: 30px 30px;
    }
}

@media(max-width: 430px) {
    .contacts-whatsapp-link {
        background-size: 30px 30px;
    }
}

/* ----------- */

/* ПОПУЛЯРНЫЕ НАПРАВЛЕНИЯ */

@media(max-width:430px) {
    .popular__wr-modal-type-chair {
        width: 303px;
    } 
}

@media(max-width: 430px) {        /*Модальное окно популярных направлений*/
    .popular__type-chair-list {
        width: 100%;
    }
}

/* ----------- */

@media(max-width: 430px) {
    .popular {
        display: flex;

        padding: 40px 0 140px;

        justify-content: center;
    }
}

@media(max-width: 430px) {
    .popular__form {
        width: 315px;
    }
}

/* Расчет стоимости */

@media(max-width: 430px) {
    .wr-price-order {
        padding-top: 40px;
        padding-bottom: 40px;

        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 430px) {
    .wr-price-order__price {
        width: 90%;
        padding: 0;
    }
}

@media(max-width: 430px) {
    .wr-price-order__title {
        min-width: auto;

        font-size: 20px;

        text-align: center;
    }
}

@media(max-width: 430px) {
    #map {
        height: 321px;
        margin-top: 20px;
    }
}

@media(max-width: 430px) {
    .ymaps-2-1-79-controls__control_toolbar {
        width: 88%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__order {
        width: 90%;
        margin: 45px 0 0;
    }
}

@media(max-width: 430px) {
    .wr-price-order__header-form {
        margin-bottom: 12px;;
    }
}

@media(max-width: 430px) {
    .wr-price-order__name-fonnumber {
        width: 100%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-name,
    .wr-price-order__wr-tel {
        min-width: 0;
        width: 100%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__labels {
        font-size: 10px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__name,
    .wr-price-order__tel {
        min-width: 0;
        width: 100%;
        height: 45px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-data-of-transport {
        min-width: auto;
        width: 100%;
        margin-top: 12px;

        flex-wrap: wrap;
        justify-content: space-between;
        /* gap: 4px; */
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-date-arrive,
     .wr-price-order__wr-time-arrive,
      .wr-price-order__wr-number-flight,
       .wr-price-order__wr-number-wagon {
        width: 48.7%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-date-arrive,
     .wr-price-order__wr-time-arrive {
        position: relative;

        display: flex;
        flex-direction: column;
     }
}

@media(max-width: 430px) {
    .wr-price-order__date-arrive,
     .wr-price-order__time-arrive,
      .wr-price-order__number-flight,
       .wr-price-order__number-wagon {
        height: 45px;
        width: 100%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__arrow-mobile {
        position: absolute;
        top: 31px;
        right: 2px;

        display: block;
        height:auto;
        width:21px;

        border-radius: 3px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__look-inputs,
     .wr-price-order__car-class-list,
      .wr-price-order__amount-chair {
        font-size: 10px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-car-class {
        width: 100%;
        margin-top: 12px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__car-class-list {
        height: 45px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-chairs {
        width: 100%;
        margin-top: 12px;

        gap: 4px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-type-chair {
        width: auto;

        flex-grow: 1;
    }
}

@media(max-width: 430px) {
    .wr-price-order__type-chair {
        height: 45px;
        width: 100%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-amount-chair {
        width: 21%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__amount-chair {
        height: 45px;
        width: 100%;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-meet {
        margin-top: 24px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__label-meet {
        font-size: 18px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__wr-button-submit {
        width: 100%;
        
        margin-top: 39px;
    }
}

@media(max-width: 430px) {
    .wr-price-order__button-submit {
        height: 45px;

        font-size: 16px;
    }
}

/* ----------- */

/* CALLBACK cAR-PARK */

@media(max-width: 430px) {
    .callback {
        padding-top: 70px;
        padding-bottom: 54px;

        background-position: top center;
        background-size: auto 973px;
    }
}

@media(max-width: 430px) {
    .callback__car-class-list {
        display: none;
    }
}

@media(max-width: 430px) {
    .callback__wrapper-swiper {
        display: block;
        width: 79%;
        height: 517px;
        margin: 0 auto;
        padding-top: 0;
    }
}

@media(max-width: 430px) {
    .swiper {
        height: 100%;
    }
}

@media(max-width: 430px) {
    .callback__car-class-card {
        height: 439px;
        width: 97%;
        margin: 0 auto;

        box-shadow: none;
    }
}

@media(max-width: 430px) {
    .callback__wr-img {
        height: 264px;
    }
}

@media(max-width: 430px) {
    .callback__img {
        height: auto;
        width: 100%;
    }
}

@media(max-width: 430px) {
    .callback__wr-card-text {
        height: 144px;
        width: 263px;
    }
}

@media(max-width: 430px) {
    .callback__card-text-class {
        font-size: 36px;
    }

    .callback__card-text-car {
        font-size: 24px;
    }
}

@media(max-width: 430px) {
    .callback__wr-collback-form {
        gap: 22px;
}

@media(max-width: 430px) {
    .swiper .swiper-pagination-bullet {
        background-color: rgba(255, 255, 255, 0);
        opacity: inherit;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    .swiper .swiper-pagination-bullet-active {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid #ffffff;
        opacity: 1;
    }
}

@media(max-width: 430px) {
    .wr-collback-form {
        margin-top: 40px;
    }
}

@media(max-width: 430px) {
    .callback-title {
        margin-left: 0;

        font-size: 20px;
    }
}

@media(max-width: 430px) {
    .callback__form {
        width: 90%;

        flex-direction: column;
        gap: 24px;
    }
}

@media(max-width: 430px) {
    .callback__wr-form-inputs {
        width: 100%;
        margin-left: 0;

        flex-direction: column;
        gap: 12px;
    }
}

@media(max-width: 430px) {
    .callback__form-name,
     .callback__form-tel {
        width: 100%;
    }
}

@media(max-width: 430px) {
    .callback__wr-form-button {
        width: 100%;
        font-size: 16px;
    }
}

@media(max-width: 430px) {
    .callback__form-button {
        font-size: 16px;
    }
}

/* ----------- */

/* services */

@media(max-width: 430px) {
    .services {
        padding-top: 44px;
        padding-bottom: 39px;

        gap: 43px;
    }
}

@media(max-width: 430px) {
    .services__cards {
        width: 90%;

        flex-direction: column;
        gap: 43px;
    }
}

@media(max-width: 430px) {
    .services__card-icon {
        display: none;
    }
}

@media(max-width: 430px) {
    .services__wr-card-text {
        display: flex;

        flex-wrap: wrap;
    }
}

@media(max-width: 430px) {
    .services__wr-card-text_meet::before {
        content: "";

        display: inline-block;
        width: 98px;
        height: 96px;
        margin-left: 15px;

        background: no-repeat url(../svg/meet.svg);
        background-size: 64px auto;
        background-position: left center;
    }
}

@media(max-width: 430px) {
    .services__wr-card-text_luggage::before {
        content: "";

        display: inline-block;
        width: 98px;
        height: 80px;
        margin-left: 15px;

        background: no-repeat url(../svg/help_luggage.svg);
        background-size: 89px auto;
        background-position: left center;
    }
}

@media(max-width: 430px) {
    .services__wr-card-text_rent::before {
        content: "";

        display: inline-block;
        width: 98px;
        height: 90px;
        margin-left: 15px;

        background: no-repeat url(../svg/rent.svg);
        background-size: 98px auto;
        background-position: left center;
    }
}

@media(max-width: 430px) {
    .services__wr-card-text_excursions::before {
        content: "";

        display: inline-block;
        width: 98px;
        height: 98px;
        margin-left: 9px;

        background: no-repeat url(../svg/excursions.svg);
        background-size: auto 98px;
        background-position: left center;
    }
}

@media(max-width: 430px) {
    .services__card-title {
        display: flex;
        margin-top: 0;
        margin-left: 10px;

        font-size: 17px;

        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
}

@media(max-width: 430px) {
    .services__wr-card-text {
        width: 100%;
        margin-left: 0;
    }
}

@media(max-width: 430px) {
    .services__card-text {
        margin-top: 22px;
    }
}

/* ----------- */


/* ABOUT-US */
@media(max-width: 430px) {
    .about-us {
        padding-top: 0;
        padding-bottom: 47px;

        background-image: none;
        background-color: #9BD0C0;
    }
}

@media(max-width: 430px) {
    .about-us__wr-title-bear {
        width: 100%;

        flex-direction: column;
    }
}

@media(max-width: 430px) {
    .about-us__wr-img {
        width: 100%;
        margin-left: 0;
        margin-top: 0;

        border-radius: 0;
    }
}

@media(max-width: 430px) {
    .about-us__wr-img-title {
        position: relative;

        width: 100%;

        margin-left: 0;

        order: 2;
    }
}

@media(max-width: 430px) {
    .about-us__wr-title {
        position: absolute;
        top: -506px;

        width: 100%;
        margin-top: 0;
    }
}

@media(max-width: 430px) {
    .about-us__title {
        width: 100%;
        
        font-size: 20px;
        text-align: center;
    }
}

@media(max-width: 430px) {
    .about-us__cards {
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;

        flex-wrap: wrap;
        gap: 0;
    }
}

@media(max-width: 430px) {
    .about-us__card_safely {
        width: 100%;
    }
}

@media(max-width: 430px) {
    .about-us__card_park,
     .about-us__card_easy {
        width: 50%;
        margin-top: 15px;
    }
}

@media(max-width:430px) {
    .about-us__icon {
        width: 107px;
        height: 107px;
    }
}

@media(max-width: 430px) {
    .about-us__wr-card-text {
        padding: 20px 0 25px;
    }
}

@media(max-width: 430px) {
    .about-us__wr-card-text_safely,
     .about-us__wr-card-text_park,
      .about-us__wr-card-text_easy {
        width: 160px; 
    }
}

@media(max-width: 430px) {
    .about-us__card-text {
        font-size: 16px;
    }
}



@media(max-width: 430px) {
    .about-us__wr-text {
        width: 90%;
        margin: 40px auto 0;
        padding: 0;
    }
}

@media(max-width: 430px) {
    .about-us__text {
        font-size: 20px;
    }
}


/* ----------- */

/* FOOTER */

@media(max-width: 430px) {
    .footer {
        padding-top: 27px;
        padding-bottom: 70px;

        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 430px) {
    .footer__wr-callback {
        width: 90%;
        padding-top: 0px;

        flex-grow: initial;
        order: 1;
    }
}

@media(max-width: 430px) {
    .footer__header {
        margin-left: 0;
    }
}

@media(max-width: 430px) {
    .footer__title {
        font-size: 20px;
    }
}

@media(max-width: 430px) {
    .footer__form {
        width: 100%;

        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 430px) {
    .footer__wr-form-inputs{
        width: auto;
    }
}

@media(max-width: 430px) {
    .callback-form-inputs {
        height: 45px;
    }
}

@media(max-width: 430px) {
    .footer__form-name {
        width: 100%;
    }
}

@media(max-width: 430px) {
    .footer__form-tel {
        width: 100%;
        margin-left: 0;
        margin-top: 12px;
    }
}

@media(max-width: 430px) {
    .footer__wr-form-button {
        width: 100%;
        padding-left: 0;
        margin-top: 12px;
    }
}

@media(max-width: 430px) {
    .footer__contacts {
        margin-top: 52px;
        margin-right: 0;

        gap: 21px;
    }
}

@media(max-width: 430px) {
    .footer__tel {
        display: none;
    }
}

@media(max-width: 430px) {
    .footer__social-icons {
        width: auto;

        gap: 16px;
    }
}

@media(max-width: 430px) {
    .footer__wr-viber,
     .footer__wr-whatsapp {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 430px) {
    .contacts-viber-link,
     .contacts-whatsapp-link {
        background-position: center;
    }
}

@media(max-width: 430px) {
    .icon-telefone {
        display: block;
    }
}




@media(max-width: 430px) {
    .footer__wr-logo-nav {
        width: 90%;
        margin-left: 0;
        margin-top: -53px;

        order: 2;
    }
}

@media(max-width: 430px) {
    .footer__wr-logo {
        height: auto;
        width: 42%;
        margin-top: 0;
    }
}

@media(max-width: 430px) {
    .footer__logo {
        width: 112px;
        height: 61px;
        background-size: 126px auto;
    }
}



/* ----------- */

/* ------------------------- media 400 ------------------------------------ */

@media(max-width: 400px) {
    .callback__car-class-card {
        width: 97%;
    }  
}

@media(max-width: 400px) {
    .callback__img {
        height: auto;
        width: 100%;
        margin-top: 4px;
    }  
}

@media(max-width: 400px) {
    .callback__wr-card-text {
        height: 130px;
        width: 248px;
    }
}

@media (max-width: 430px) {
    .callback__card-text-class {
        font-size: 34px;
    }
}

@media (max-width: 430px) {
    .callback__card-text-car {
        font-size: 22px;
    }
}




/* ------------------------- media 365 ------------------------------------ */

@media(max-width) {
    .header__logo {
        width: 70px;
    }
}

@media(max-width: 430px) {
    .header__logo-text {
        margin-bottom: 7px;
        /* margin-left: 5px; */

        font-size: 12px;

        align-self: flex-end;
    }
}

@media(max-width: 365px) {
    .about-us__icon {
        width: 107px;
        height: 107px;
    }
}


@media(max-width: 365px) {
    .about-us__wr-card-text_safely,
     .about-us__wr-card-text_park,
      .about-us__wr-card-text_easy {
        width: 150px;
    }
}

@media(max-width: 365px) {
    .about-us__card-text {
        font-size: 15px;
    }
}

/* ------------------------- media 340 ------------------------------------ */

@media(max-width: 340px) {
    .header__icon-mobile {
        margin-left: 10px;
    }
}










}